<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      William Steven Garzon Peralta
      <br>
      David Santiago Guerrero Bonilla
      <br>
      Jhonatan Andrey Soto Bautista 
      <br>
      20/02/2020 Uniagustiana
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
